#app {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

#main-content {
  flex-grow: 1; 
  border-color: #D0B3AB !important;
}

nav.bg-white.py-1.border-bottom.border-2 {
    border-color: #D0B3AB !important;
  }

#footer {
    background-color: #D0B3AB !important;
  }

  h1, #nsLavori {
    color: #E69A00 !important;
  }

  /*h4 {
    color: #F5B000 !important;
  }*/

  h1#whoweare {
    margin-bottom: 1.9em !important;
  }

  /*div#max {
    
  }*/

  #HomePic{
    position: relative;
  }

  #PrenotaButton {
    
    background-color: #BFD3BF !important;
    color: black;
    border: none;
  }

  #LoginButton {
    background-color: #BFD3BF !important;
    color: black;
    border: none;
  }

  #detailsButton {
    color: #8B9F8B;
  }

  #ContactCard {
    position: absolute;
    top: 15%;
    left: 25%;
    opacity: 0.9;
  }

.accordion-button:not(.collapsed) {
  background-color: #BFD3BF;
  color: black;
}

.accordion-button:focus {
  box-shadow: 0 0 0 3px #8B9F8B;
  border-color: #8B9F8B;
  outline: none;
}
  
  @media screen and (max-width: 450px) {
    #ContactCard {
      position: absolute;
      top: -1%;
      left: 16%;
    }
  }
  
  @media screen and (max-width: 768px) {
    #ContactCard {
      position: absolute;
      top: 20%;
      left: 30%;
    }
  }
  @media screen and (max-width: 850px) {
    #ContactCard {
      position: absolute;
      top: 20%;
      left: 30%;
    }
  }
  @media screen and (max-width: 1024px) {
    #ContactCard {
      position: absolute;
      top: 3%;
      left: 17%;
    }
  }
  
  #LoginOption{
    color: #8B9F8B !important;
  }

  /* Personalizza l'outline e il colore di riempimento del dropdown */
.custom-dropdown-toggle {
  border-color: #8B9F8B !important; /* Colore dell'outline */
  background-color: white !important; /* Colore di riempimento */
  color: #8B9F8B !important; /* Colore del testo */
  transition: all 0.3s ease; /* Transizione per un effetto più fluido */
}

.custom-dropdown-toggle[aria-expanded="true"] {
  border-color: #8B9F8B !important; /* Colore dell'outline quando è aperto */
  background-color: #8B9F8B !important; /* Colore di riempimento quando è aperto */
  color: #000000 !important; /* Colore del testo quando è aperto */
}

.custom-dropdown-toggle:not([aria-expanded="true"]) {
  border-color: #8B9F8B !important; /* Colore dell'outline quando è chiuso */
  background-color: white !important; /* Colore di riempimento quando è chiuso */
  color: #8B9F8B !important; /* Colore del testo quando è chiuso */
}