#app {
  display: flex;
  flex-direction: column; /* Dispone gli elementi in colonna */
  min-height: 100vh; /* Assicura che l'altezza sia almeno quella della finestra */
}

#main-content {
  flex-grow: 1; /* Permette al contenuto principale di occupare lo spazio disponibile */
}

nav.bg-white.py-1.border-bottom.border-2 {
    border-color: #F5C232 !important;
  }

#footer {
    background-color: #F5C232 !important;
  }

  h1 {
    color: #E69A00 !important;
  }

  /*h4 {
    color: #F5B000 !important;
  }*/

  h1#whoweare {
    margin-bottom: 1.9em !important;
  }

  div#max {
    border-color: #F5C232 !important;
  }

  #HomePic{
    position: relative;
  }

  #PrenotaButton {
    position: absolute;
    bottom: -7%;
    left: 30%;
    background-color: #BFD3BF !important;
    color: black;
    border: none;
  }